/* label {
    font-size: large;
}

input,
textarea {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 100%;
}

textarea {
    height: 150px;
}

input[type=button],
label {
    margin-top: 20px;
}

.formdesign {
    background-color: rgb(227, 229, 231);
    padding: 25px;
    border: 1px solid black;
    border-radius: 4px;
}

.input-wrapper {
    display: block;
    text-align: left;
}

.row,
.ok {
    position: relative;
    height: auto;
    padding: 10px;
    margin: 0 auto;
} */


/* Styles for the main card */

.post-box {
    width: 350px;
    background-color: #424242 !important;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Clickable input box */

.post-input {
    background-color: #838383;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    color: rgb(209, 209, 209);
}


/* Hover effect */

.post-input:hover {
    background-color: #979797;
}